<div class="eventitem">
    {{#if comments}}
    {{#each comments}}
    <center>
        <h3 class="eventitemspan" align="left">{{username}}:{{comtext}}</h3>
    </center>
    {{/each}}
    {{/if}}
</div>