<center>
    <footer class="search-container">
        <h3>(C) 2020 all rights reserved to Kalandra Group.</h3>
    </footer>
</center>
<script>
    const postContainer = document.querySelector('.create-event-container');
    const searchForm = document.querySelector('#searchform');

    document.querySelector('#post').addEventListener('click', () => {
        if (postContainer.style.display === 'none'
            || postContainer.style.display !== 'flex')
            postContainer.style.display = 'flex';
        else
            postContainer.style.display = 'none';
    });

    searchForm.addEventListener('submit', (event) => {
        event.preventDefault();
        if (searchForm.childNodes[1].value !== '')
            window.location.href = "/search/" + searchForm.childNodes[1].value;
    });

    //EVENT LISTENER SEND QUERIES & DEAL WITH IN ROUTES</script>
</script>