<div class="eventitem">
    {{#if reviews}}
    {{#each reviews}}
    <center>
        <h3 class="eventitemspan" align="left">{{username}}: {{revtext}}</h3>
    </center>
    {{/each}}
    {{/if}}
</div>